* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  
}

.flex-item-left {
  background-color: lightgray;
  padding: 10px;
  height: 50px;
  flex: 100%;
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
    
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 20%;
  /* height: 50px; */
  border: 1px solid black;
  padding: 10px;
}

.flex-item-center {
  background-color: green;
  padding: 10px;
  height: 100px;
  flex: 80%;
  border: 1px solid black;
  padding: 10px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 600px) {

  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}